* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fondo */
body {
    margin: 0;
    height: 100vh;
    background-color: #f2f4f8;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor */
.reset-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Card */
.reset-card {
    position: relative;
    background-color: #7898e8;
    padding: 40px 30px;
    width: 320px;
    border-radius: 6px;
    text-align: center;
    color: white;
}

/* Botón volver */
.btn-back {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.btn-back:hover {
    text-decoration: underline;
}

/* Icono */
.icono {
    font-size: 50px;
    margin-bottom: 20px;
}

/* Título */
h3 {
    margin: 0 0 10px;
}

/* Texto */
.subtitle {
    font-size: 12px;
    margin-bottom: 20px;
    opacity: 0.9;
}

/* Input */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* Botón */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #3a5edb;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #e6e6e6;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    color: #3a5edb;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}